.Card{
    max-width: 75rem;
    padding:10px;
    margin: auto;
    margin-bottom: 10px;
}
.Card:hover{
	box-shadow: 10px 10px 5px grey;

}

.Container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media screen and (max-width: 500px) {
    .Container {
      flex-direction: column;
    }
  }

.Logo{
  height: auto;
  width: 50vw;
  max-width: 100px;
  max-height: 100px;
  margin: auto;
}

.PillContainer{
  flex-direction: column;
  flex-wrap: nowrap;

}